<div class="container-participants-liste">
    <table class="liste" *ngIf="inscrits.length > 0; else inscritsEmpty">
        <thead class="liste-titre">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Rôle</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscrit of inscritsSlice" class="ligne-participants" (click)="clickParticipant(inscrit)">
                <td>{{ inscrit.familyName }}</td>
                <td>{{ inscrit.name }}</td>
                <td>{{ inscrit.role }}</td>
                <td><a href="mailto:{{ inscrit.mail }}">{{ inscrit.mail }}</a></td>
            </tr>
        </tbody>
    </table>

    
    <div class="pagination-container" >
        <button (click)="prevPage()" [disabled]="page === 1">&#8592;</button>
        <p>{{ page }} / {{ pageMax }} - {{  inscritsFiltres.length }} resultats</p>
        <button (click)="nextPage()" [disabled]="page === pageMax">&#8594;</button>
    </div>



    <ng-template #inscritsEmpty>
        <p class="no-inscrits">Aucun inscrit pour ce cours.</p>
    </ng-template>

</div>