<div class="list-group-item list-group-item-secondary fw-bold">
  <div class="row">
    <div class="col-sm">Code</div>
    <div class="col-sm">Nom</div>
    <div class="col-sm">Description</div>
    <div class="col-sm">Actions</div>
  </div>
</div>

<div style="max-height: 23rem; overflow-y: auto;">
  <div *ngIf="ues.length === 0; else elseBlock" class="container bg-light text-center py-5 rounded shadow-sm">
    Il n'existe aucun cours.
  </div>


  <ng-template #elseBlock>
    <ul class="list-group list-group mb-0">
      <app-ue-list-element
        *ngFor="let ue of ues"
        [ue]="ue"
        (delete)="handleDeletion($event)"
        (modify)="handleModification(ue.id, $event)">
      </app-ue-list-element>
    </ul>
  </ng-template>
</div>
