<div class="container-annonce" *ngIf="this.post.type == 'annonce'; else importantBlock">
    <button  (click)="checkPost()" [disabled]="isChecked()" [ngClass]="{'btn-check-false': isChecked(), 'btn-check-true': !isChecked()}">{{ isChecked() ? 'Deja validé' : 'Marquer comme validé' }}</button>
    <h3>{{ post.title }}</h3>
    <p>{{ post.message }}</p>
    <p class="date">{{post.publish_date | date:'dd/MM/yyyy HH:mm'}}</p>
    <a *ngIf="post.files" [href]="filesService.getPdf(post.files)" target="_blank">
        Télécharger le PDF
    </a>
</div>
<ng-template #importantBlock>
    <div class="container-important" *ngIf="this.post.type == 'important'; else infoBlock">
        <button (click)="checkPost()" [disabled]="isChecked()" [ngClass]="{'btn-check-false': isChecked(), 'btn-check-true': !isChecked()}">{{ isChecked() ? 'Deja validé' : 'Marquer comme validé' }}</button>
        <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p>
        <p class="date">{{post.publish_date | date:'dd/MM/yyyy HH:mm'}}</p>
        <a *ngIf="post.files" [href]="filesService.getPdf(post.files)" target="_blank">
            Télécharger le PDF
        </a>
    </div>
</ng-template>
<ng-template #infoBlock>
    <div class="container-info">
        <button (click)="checkPost()" [disabled]="isChecked()" [ngClass]="{'btn-check-false': isChecked(), 'btn-check-true': !isChecked()}">{{ isChecked() ? 'Deja validé' : 'Marquer comme validé' }}</button>
        <h3>{{ post.title }}</h3>
        <p>{{ post.message }}</p>
        <p class="date">{{post.publish_date | date:'dd/MM/yyyy HH:mm'}}</p>
        <a *ngIf="post.files" [href]="filesService.getPdf(post.files)" target="_blank">
            Télécharger le PDF
        </a>
    </div>
</ng-template>