body {
    background-color: #1f5182;
}

.container-cours{
    background-color: #FFFFFF;
    margin-top: 20vh;
    width: 90vw;
    height: auto;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    min-height: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border : 1px solid #c9c9c9;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.container-cours a {
    text-decoration: none;
    color: #007BC0;
}


.container-cours-top{
    
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  
  
  
.container-cours-titre{
    width: 40rem;
  }

  
  .container-cours-sous-titre{
    display: flex;
    align-items: row;
    justify-content: flex-start;
    color: #007BC0;
    width: 10rem;
    padding-left: 6rem;


  }

  .container-cours-sous-titre h2:hover {
    background-color: #ebeaea;
    cursor:pointer;
  }
  

  .container-cours h1 {
    color: black;
    padding-left: 3rem;
    padding-bottom: 1rem ;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  .container-cours h2 {
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
    font-family: Arial, sans-serif;
  }


  .container-cours-sous-titre-selected{
    border-bottom: solid 0.2rem #007BC0;
    background-color: #f9f9f9;
    z-index: 3;
  }

.container-cours hr {
  border: 0.10rem solid #c9c9c9; 
  width: 90%;
  margin: 0 auto;
}

app-liste-forums-cours{
  width: 100%;
}