<div class="container-cours">
        <div class="container-cours-top">
            <div class = "container-cours-titre">
                <h1 >{{ cours.name }}</h1>
                <div class="container-cours-sous-titre">
                    <h2 [ngClass]="{ 'container-cours-sous-titre-selected': currentView === 'Cours' }" (click)="selectView('Cours')">
                        Cours
                    </h2>
                     <h2 [ngClass]="{ 'container-cours-sous-titre-selected': currentView === 'Participants' }" (click)="selectView('Participants')">
                        Participants
                    </h2>
                    <h2 [ngClass]="{ 'container-cours-sous-titre-selected': currentView === 'Forum' }" (click)="selectView('Forum')">
                        Forum
                    </h2>
                </div>
            </div>
        </div>
        <hr>

        <ng-container [ngSwitch]="currentView">
            <app-course *ngSwitchCase="'Cours'"></app-course>
            <app-participants-cours *ngSwitchCase="'Participants'"></app-participants-cours>
            <app-liste-forums-cours *ngSwitchCase="'Forum'"></app-liste-forums-cours>
        </ng-container>
</div>