<div class="container-form-create-text">
    <div>
        <label class="title-form">Créer un texte</label>
    </div>
    <form>
        
        <div>
            <label for="inputText1" class="form-label">Titre</label>
        </div>
        <input type="text" id="inputText1" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Titre">
        <label for="inputText2" class="form-label">Nom</label>
        <input type="text" id="inputText2" class="form-control" aria-describedby="passwordHelpBlock">
        <label for="inputText2" class="form-label">Nom</label>
        <input type="text" id="inputText2" class="form-control" aria-describedby="passwordHelpBlock">
        <label for="inputText2" class="form-label">Nom</label>
        <input type="text" id="inputText2" class="form-control" aria-describedby="passwordHelpBlock">
        <label for="inputText2" class="form-label">Nom</label>
        <input type="text" id="inputText2" class="form-control" aria-describedby="passwordHelpBlock">
    </form>
</div>
