
.container-info {
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-info h3{
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #064c74;
    border-left: 4px solid #007BC0;
    padding-left: 0.6rem;
}

.contenu{
    margin-left: 2rem;
    margin-top: -0.2rem;
}

.contenu p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #717171;
}

.contenu b {
    color: #007BC0;
}

.noData{
  color: rgb(156, 62, 62);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin-left: 2rem;   
}
