<li class="list-group-item">

  <div class="row">

    <div class="col-sm" [id]="'user_' + user.id + '_names'">
      {{ user.name }} {{ user.familyName }}
    </div>

    <div class="col-sm">
      {{ user.mail }}
    </div>

    <!--todo les rôles-->

    <!--todo les ue auxquelles il est inscrit-->

    <div class="col-sm">
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="onModify()">Modifier</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()">Supprimer</button>
      </div>

    </div>

  </div>

</li>
