<div class="container-info">
  <h3>Activité dans ce cours :</h3>
  <div class="contenu" *ngIf="courseLog; else noCourseLog">
    <p>Dernière consultation : <b>{{ DateToPhrase(courseLog.lastViewed) }} ({{ timePast(courseLog.lastViewed) }})</b></p>
    <p>Nombre de consultation du cours : <b>{{ courseLog.viewsCount }}</b></p>
    <p>Progression : <b>{{ courseLog.progressCount }}</b></p>
  </div>
  <ng-template #noCourseLog>
    <p class="noData">Aucune donnée d'activité dans ce cours pour le moment..</p>
  </ng-template>
</div>