<div class="carte-cours-etendue">
  <div class="carte-cours-inner-etendue" [class.flipped]="flipped">
    <div class="carte-cours-front-etendue">
      <button class="bouton-etoile-etendue "><span class="etoile-etendue ">&#9733;</span></button>
      <button class="bouton-rotation-etendue " (click)="turnCard()">↺</button>
      <img src="******" alt="Image du cours">
      <h3><a [routerLink]="['/cours', cours.id]">{{ cours.name }}</a></h3>
    </div>
    <div class="carte-cours-back-etendue">
      <button class="bouton-rotation-etendue " (click)="turnCard()">↺</button>
      <h3>{{ cours.code }}</h3>
      <p>{{ cours.description }}</p>
    </div>
  </div>
</div>
