<div class="carte-cours-etendue">
  <div class="carte-cours-inner-etendue" [class.flipped]="flipped">
    <div (click)="toCours()" class="carte-cours-front-etendue">
      <button class="bouton-etoile-etendue "><span class="etoile-etendue ">&#9733;</span></button>
      <button class="bouton-rotation-etendue " (click)="turnCard(); $event.stopPropagation()">↺</button>
      <img [src]="getImageUrl()" alt="Image du cours">
      <h3>{{ cours.name }}</h3>
      <p class="nombre-inscrits">{{ cours.inscrits.length }} inscrits</p>
    </div>
    <div class="carte-cours-back-etendue">
      <button class="bouton-rotation-etendue " (click)="turnCard(); $event.stopPropagation()">↺</button>
      <h3>{{ cours.code }}</h3>
      <p>{{ cours.description }}</p>
    </div>
  </div>
</div>
