<div class="modal fade" id="createUserModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Créer un utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form #userForm="ngForm" (ngSubmit)="submitForm()" novalidate>
        <div class="modal-body">

          <div class="mb-3">
            <label for="familyName">Nom</label>
            <input id="familyName" type="text" class="form-control" name="familyName" [(ngModel)]="formData.familyName" required />
          </div>

          <div class="mb-3">
            <label for="name">Prénom</label>
            <input id="name" type="text" class="form-control" name="name" [(ngModel)]="formData.name" required />
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" [(ngModel)]="formData.email" required />
          </div>

          <!-- Inscription aux UE -->
          <button
            type="button"
            class="btn btn-sm btn-dark"
            (click)="openNestedModal()">
            &plus; Inscrire
          </button>

          <app-modal-register (emitSelection)="registerToUe($event)" [alreadySelected]="formData.ues"></app-modal-register>

          <div class="container p-2 m-2 bg-light">
            <div *ngIf="formData.ues.length === 0; else elseBlock">
              L'utilisateur n'est inscrit à aucun cours
            </div>

            <ng-template #elseBlock>
              <div class="d-flex flex-wrap gap-2">
                <div
                *ngFor="let ue of formData.ues"
                class="p-2 border rounded d-flex justify-content-between align-items-center"
                style="width: 18rem; min-width: 160px;">

                    <span class="text-uppercase flex-grow-1">
                      {{ ue.code }}
                    </span>

                    <button
                      type="button"
                      class="btn btn-danger btn-sm ms-2"
                      (click)="onDeleteUE(ue.id)">
                      &times;
                    </button>
                </div>
              </div>
            </ng-template>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" data-bs-dismiss="modal">Créer</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </form>

    </div>
  </div>
</div>

