form{
    width: 100%;
    
}

label{
    width: 8em;
    font-size: 1.8em;
    text-align: center;
    
}

form input, select, textarea{
    margin-bottom: 2em;
}

form button {
    width: 6em;
    padding: 0.9rem;
    font-size: 1.5rem;
    color: white;
    background-color: #007BC0;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.75rem;
}


.title-form{
    border: 0.075rem solid #ccc;    
    border-radius: 0.3rem;
    padding : 0.9rem;
    background-color: #007BC0;
    color: white;
    border-color: #007BC0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-button-form{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-creation-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #f5c6cb;
  margin-top: 0.3rem;
  font-size: 0.9rem;
  margin-bottom: 1.125rem;
}

