<div class="details-container">
    <div class="bouton-container">
        <button (click)="return()">Retour</button>
    </div>
    


    <h2>Details : </h2>

    <h3>Info general : </h3>
    <p> prenom : {{inscrit.name}}</p>
    <p> nom : {{inscrit.familyName}}</p>
    <p> mail : {{inscrit.mail}}</p>
    <p> role : {{inscrit.role}}</p>

    

    <h3>Activité general : </h3>
    <p>Dernière connexion : {{ DateToPhrase(userLog?.lastLogin) }} ( {{ timePast(userLog?.lastLogin) }} )</p>
    <p>Dernière déconnexion : {{ DateToPhrase(userLog?.lastLogout) }} ( {{ timePast(userLog?.lastLogout) }} )</p>
    <p>Nombre de login : {{ userLog?.loginCount }}</p>
    
    



    <ul>
    <li *ngFor="let course of userLog?.courses">
      Cours ID: {{ course.courseId }} - Vues: {{ course.viewsCount || 0 }} - Progression: {{ course.progresionNbr || 0 }} - Dernière consultation : {{ course.lastViewed | date:'medium' }}
    </li>
  </ul>

</div>

