<div class="modal fade" id="createUeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Créer un cours</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="creationForm" (ngSubmit)="submitForm()" novalidate>
        <div class="modal-body">

          <div class="mb-3">
            <label for="code">Code</label>
            <input id="code" type="text" class="form-control" name="code" formControlName="code"/>
            <div *ngIf="code?.invalid && (code?.dirty || code?.touched)" class="text-danger">
              <div *ngIf="code?.errors?.['required']">Code is required</div>
            </div>
          </div>


          <div class="mb-3">
            <label for="name">Nom</label>
            <input id="name" type="text" class="form-control" name="name" formControlName="name"/>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
              <div *ngIf="name?.errors?.['required']">Name is required</div>
            </div>
          </div>


          <div class="mb-3">
            <label for="desc">Description</label>
            <input id="desc" type="text" class="form-control" name="desc" formControlName="description"/>
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
              <div *ngIf="description?.errors?.['required']">Description is required</div>
            </div>
          </div>


        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!creationForm.valid" data-bs-dismiss="modal">Créer
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </form>

    </div>
  </div>
</div>

